
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* :root {
	--gap: .5em; */
	/* --index: calc(1vw + 1vh); */
    /* --color-dark: #000; */
/* }   */


body{
    /* background-color: #2e3b3f ; */
    background: url(img/fon14.png) repeat;
    
    /* padding-top: 100px; */
}

.box {
    width: 10px;
    height: 10px;
    background-color:#afc0f8;

    position:absolute ;
    top: 10px;
    left: 30px;
    
    animation: render 5s ease-in-out infinite;
}

@keyframes render {
    0% {
        top: 10px; left: 30px;
        background:#afc0f8;
        border-radius: 30%;
    }
    /* 25% {
        top: 10px; left: 190px;
        background:#35457a;
        border-radius: 50%;
    }
    50%{
        top: 80px;
        left: 190px;
        background:#afc0f8;
        border-radius: 30%;
    } */
    50% {
        top: 40px;
        left: 30px;
        background:#35457a;
        border-radius: 50%;
    }
} 

.box2 {
    width: 10px;
    height: 10px;
    background-color: #afc0f8;

    position: absolute;
    top: 40px;
    left: 170px;
    
    animation: render2 5s ease-in-out infinite;
}

@keyframes render2 {
    0% {
        top: 40px; left: 170px;
        background:#afc0f8;
        border-radius: 30%;
    }
    /* 25% {
        top: 80px; left: 40px;
        background:#35457a;
        border-radius: 50%;
    }
    50%{
        top: 10px;
        left: 40px;
        background:#afc0f8;
        border-radius: 30%;
    } */
    50% {
        top: 10px;
        left: 170px;
        background:#35457a;
        border-radius: 50%;
    }
} 


header{    
    background: linear-gradient(#1d2644 1% , #afc0f8 50%, #1d2644  99%);/*установка фона градиент*/
    position: sticky;/*позиционирования хедера не исчезать при скролинге*/
    top: 0;/*указатель места от которого хедер остается не исчезая во время скролинга*/
    width: 100%;
    padding-left: 50px;
    box-shadow: 0 5px 5px #141a2c;/*тень ниже хедера*/
    border-radius: 0 0 15px 15px;
    display: flex;/*отображение как гибкого контейнера */
    
    
    justify-content: space-between;/*расстояние между элементами*/
    align-items: center;/*центорвка элементов*/  
    /* overflow: hidden;   */
    z-index: 100;
}



nav{
    
    margin-right:0% ;  /*смещение заглавного меню влево*/
    /* margin-left: 75%; */
    
}

@media screen and (max-width: 700px){
    nav ul li {
        display: none;
    }

}

nav ul li {
    position: relative;
    float: left;/*расположение элементов li слева*/   
}


nav ul li a {
    padding: 13px 13px ;/*отступы для элементов главного  меню*/
    padding-right: 40px;
    font-size: clamp(0.875rem, 0.486rem + 0.89vw, 1.375rem) ;/*размер шрифта*/
    font-weight: 500;
    color: #2b2b2b;/*цвет шрифта*/
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    transition: .4s;
}

/* @media (max-width: 1700px){
     nav ul li a {
        font-size: 100%;
    }

} */



/*изменение цвета элемента главного меню при наведении на него курсором*/
nav ul li a:hover {
    transform: scale(1.1);
    /* background:#7c8b5f;
    color: rgb(228, 228, 228); */
}

/*выпадающее меню*/
nav ul li ul{
    position: absolute;
    
    left: 0;
    width: 300px;
    background: #cad7ff;
    color: #3d3c3c;
    display: none;    
}

/*оформление выпадающего меню прозрачность разделительных линий*/
nav ul li ul li{
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}

/*исчезание выпадающего меню после убирания курсора*/
nav ul li:hover > ul{
    display: initial;
}

.sheet-title{
    /* position: absolute;
    top: 80px;  */
    /* right: 6%;  */
    font-size: clamp(1.563rem, 0.833rem + 1.67vw, 2.5rem);
    color:  #c7c7c7;
    margin-left: 4%; 
    /* margin-top: 5%; */
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 1000;
    /* text-shadow: 2px 2px #d4d4d4b2; */
    
}

h4{text-indent: 60px;

}


.head-text{
    font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.563rem);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4%;
    color: #adcf6e;
    line-height: 2.2;
}

.gallery-title {
    /* transform:rotateX(60deg) ; */
    /* transition: .8s; */
    /* animation: gallery-title 5s infinite;
    animation-direction: alternate; */
    
    font-size: 35px;
    font-family: cursive;
    color: #adcf6e;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
 }   

.img2{
    float: right;
    box-shadow: 15px 15px 20px #7aa3aa;
    /* border: 8px double #7aa3aa; */
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1% ;
   
 }

 .img-MyLogo {
    /* position: relative; */
    /* top: 25px; */
    
    
    /* z-index: 101; */
    transition: .3s;
 }

 .img-MyLogo:hover {
    transform: scale(1.1); 
 }

 /* gallery */

 .container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* font-size: 25px;
    font-family: cursive;
    color: rgb(209, 209, 209);
    text-align: center;
    font-weight: 600;
     */
 }

 .container .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 20px;
 }

 .container .img-container .img {
    
    width: 445px;
    height: 253px;
    background:  #666666;
    border: 8px solid #7aa3aa;
    border-style: double;
    /* box-shadow: 7px 7px 12px #a8a8a8; */
    overflow: hidden;
 }

 .container .img-container .img img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .5s;
 }

 .container .img-container .img:hover img {
    /* opacity: .2; */
    transform: scale(1.1);
 } 

 .container .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .8);
    display: none;
 }

 .container .pop-up img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    
    width: 60%;
    height: 60%;
    object-fit: contain;
    
 }

 .container .pop-up span{
    position: fixed;
    top: 26%;
    right: 10%;
    width: 40px;
    height: 40px;
    background: #a5c0fc;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    
 } 

 .span:hover {
    opacity: .8; 
 }

 .span:active {
    color: #ffffff;
 }
 